# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
.env

# Node
node_modules/
/dist
.npm
.env.local
.env.*.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# System
.DS_Store
Thumbs.db
.pytest_cache/
